{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="author" content="HDU">
    <title>千岛湖旅游景区承载监控平台</title>
    <!-- StyleSheet -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar-menu.css' %}">
    <!-- JavaScript-->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/sidebar-menu.js' %}"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=Ly8Gn95HHcLkzjkIkPUQoKAr9aqYmbwG"></script>
</head>
<body>
<div class="header">
    <div class="header-title">千岛湖承载监控平台</div>
    <div class="img-logo"><img src="{% static 'img/logo.jpg' %}" alt="logo"></div>
</div>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i> <span>主页</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>景区详情</span> <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> 仪表盘 v1</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 仪表盘 v2</a></li>
                </ul>
            </li>
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-th"></i> <span>窗口小部件</span>#}
{#                    <small class="label pull-right label-info">新的</small>#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i> <span>最新预警</span>
                    <small class="label pull-right label-warning">12</small>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-video-camera"></i>
                    <span>监控</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> 一般</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Icons图标</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 按钮</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 滑块</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 时间表</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 模态框</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>预警日历</span>
                    <small class="label pull-right label-danger"></small>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>预警情况</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Morris</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Flot</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>后台管理</span>
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> 清单</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 简况</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 登录</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 注册</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 锁频</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 404 错误</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 500 错误</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 空白页面</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 自适应页面</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<div class="container-main">
    <div class="container-block" id="heatmap">
        此处添加内容
    </div>
    <div class="container-block">
        此处添加内容
    </div>
</div>
<script>
    {# 导航栏 #}
    $.sidebarMenu($('.sidebar-menu'));
    {# 热力图 #}
    {#var map = new BMap.Map("heatmap");#}
    {#var point = new BMap.Point(116.404, 39.915);#}
    {#map.centerAndZoom(point, 15);#}
</script>
</body>
</html>