{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=3.0&ak=Ly8Gn95HHcLkzjkIkPUQoKAr9aqYmbwG"></script>
</head>
<body>
<div id="heatmap"></div>
<div id="population_chart"></div>
<script>
    var map = new BMap.Map("heatmap");
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 15);
    $("#population_chart").jChart({
        name: "North American Regional Population Loss 2014",
        headers: ["Arizona", "Michigan", "Ontario", "British Columbia", "Texas"],
        values: [250000, 478000, 88000, 429000, 423000],
        footers: [100000, 200000, 300000, 400000, 500000],
        colors: ["#1000ff", "#006eff", "#00b6ff", "#00fff6", "#00ff90"]
    });
</script>
</body>
</html>