{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {#    <script type="text/javascript"#}
    {#            src="http://api.map.baidu.com/api?v=3.0&ak=Ly8Gn95HHcLkzjkIkPUQoKAr9aqYmbwG"></script>#}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div id="main" style="width: 100%;height:400px;"></div>
    <script type="text/javascript">
        try {


            var myChart = echarts.init(document.getElementById('main'));//定义折线图显示的位置对象
            function randomData() {
                now = new Date(+now + oneDay);
                value = value + Math.random() * 21 - 10;
                return {
                    name: now.toString(),
                    value: [
                        [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
                        Math.round(value)
                    ]

                }
            }

            var datas = {{ start_data }},


            option = {
                    tooltip: {
                    trigger: 'axis',
                    },
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: false
                    },
                    axisLabel:{
                      interale:0,
                      rotate: -40,
                      formatter: function (value) {
                          var t_date = new Date(value);
                          return [t_date.getFullYear(),t_date.getMonth()+1, t_date.getDate()].join('-')+" "
                          + [t_date.getHours(), t_date.getMinutes()].join(':');
                      }
                    },
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%'],
                    splitLine: {
                        show: false
                    }
                },
                grid:{
                    bottom: '25%',
                    top: '1%',
                },
                series: [{
                    name: '游客人数',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    data: datas
                }]
            };
            myChart.setOption(option);
            setInterval(function () {
                $.get('/capacityWeb/updatetodayTouristNums/',{'scenicid':1},function (msg) {
                    datas.length = 0;
                    datas = msg;
                    myChart.setOption({
                        series: [{
                            data: datas
                        }]
                    })
                })
            },60000)
        }catch (e) {
            alert(e.message)
        }


</script>
</body>
</html>